<div class="container">
  <ul class="list-group">
    <li class="list-group-item"> Title: <%= @book.title %> </li>
    <li class="list-group-item"> Genre: <%= @book.genre %> </li>
    <li class="list-group-item"> Author: <%= @book.author %> </li>
  </ul>
</div>
